export SHAREPOINT_SITE_URL=https://ddasys.sharepoint.com/sites/DDASYS
export SHAREPOINT_DRIVE_NAME=Documents partages
export SHAREPOINT_FOLDER_NAME=Test-user-assigned-identity


# Type d'authentification
USE_MANAGED_IDENTITY=true

# Configuration Azure (optionnel pour le développement local)
AZURE_TENANT_ID=930f9de9-dca2-467e-85f9-ce76cb1551fa
AZURE_CLIENT_ID=your-client-id
AZURE_CLIENT_SECRET=your-client-secret

# Configuration du container
PYTHONUNBUFFERED=1

# Chemin spécifique du dossier de test
SHAREPOINT_FOLDER_PATH="Documents partages/General/Test-user-assigned-identity"


# IDs SharePoint extraits automatiquement
SHAREPOINT_SITE_ID=ddasys.sharepoint.com,90022be8-5b4d-437e-b7b8-428a5b4a9d75,dfdecd9e-4cd3-470d-a08f-e0b602bf8390
SHAREPOINT_DRIVE_ID=b!6CsCkE1bfkO3uEKKW0qddZ7N3t_TTA1HoI_gtgK_g5BfZDakrgbgT4Irvjj_zI02


dotenv