export SHAREPOINT_SITE_URL=https://ddasys.sharepoint.com/sites/DDASYS
export SHAREPOINT_DRIVE_NAME=Documents partages
export SHAREPOINT_FOLDER_NAME=Test-user-assigned-identity


# Type d'authentification
export USE_MANAGED_IDENTITY=true

# Configuration Azure (optionnel pour le développement local)
export AZURE_TENANT_ID=930f9de9-dca2-467e-85f9-ce76cb1551fa
export AZURE_CLIENT_ID=8bdf890b-db21-428a-b6f5-b28de854a5e5
export AZURE_CLIENT_SECRET=your-client-secret

# Configuration du container
export PYTHONUNBUFFERED=1

# Chemin spécifique du dossier de test
export SHAREPOINT_FOLDER_PATH="Documents partages/General/Test-user-assigned-identity"


# IDs SharePoint extraits automatiquement
export SHAREPOINT_SITE_ID=ddasys.sharepoint.com,90022be8-5b4d-437e-b7b8-428a5b4a9d75,dfdecd9e-4cd3-470d-a08f-e0b602bf8390
export SHAREPOINT_DRIVE_ID=b!6CsCkE1bfkO3uEKKW0qddZ7N3t_TTA1HoI_gtgK_g5BfZDakrgbgT4Irvjj_zI02
export DEVELOPER_SSH_PUBLIC_KEY=$(cat ~/.ssh/aci_rsa.pub)

dotenv